header{
    background:#bbbbbb;
    padding: 20px 0;
}
.caixa{position: relative;
    width: 940px;
    margin: 0 auto;
}
nav { position:absolute;
    top: 110px;
    right: 0;
}
nav li { display: inline;
    margin: 0 0 0 15;

}
nav a { text-transform: uppercase;
    color: rgb(10, 47, 80);
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: rgb(153, 27, 202);
    text-decoration: underline;
}
.rapeize {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}
.rapeize li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #bbbbbb;
    border-radius: 10px;
}
.rapeize li:hover{
    border-color: blueviolet;
}
.rapeize li:active{
}
.rapeize li:hover h2{
    font-size: 34px;
}
.Jean-d{
    font-size: 18px;
}
.artur-a{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.Ryan-s{
    font-size: 18px;
}
footer{
    background-color: #bbbbbb;
    text-align: center;
    padding: 40px 0;
}
.copyright{
    color: aquamarine;
    font-size: 13px;
    padding: 40px 0;
}
main{
    width: 940px;
    margin: 0 auto;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
  }